nav.navbar {
    background: rgba(173, 169, 150, .5);
    background: -webkit-linear-gradient(to right,rgba(234,234,234,.5),rgba(219,219,219,.5),rgba(242,242,242,.5),rgba(173,169,150,.5));
    background: linear-gradient(to right, rgba(234, 234, 234, .5), rgba(219, 219, 219, .5), rgba(242, 242, 242, .5), rgba(173, 169, 150, .5));
    box-shadow: 0 .5rem 1rem #0000001a;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 10;
}
nav.navbar.scrolled {
    background: #ADA996; 
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
}

nav.navbar .navbar-brand {
    width: 8%;
}
nav.navbar .nav-link.active {
    color: var(--main-color);
}
nav.navbar .nav-link {
    position: relative;
    letter-spacing: 2px;
}
nav.navbar .nav-link::after,
nav.navbar .nav-link::before {
    content: "";
    width: 25%;
    height: 25%;
    position: absolute;
    opacity: 0;
    transition-duration: .5s;
}
nav.navbar .nav-link::before {
    top: 0;
    left: 0;
    border-top: 1px solid var(--main-color);
    border-left: 1px solid var(--main-color);
    transform: translateX(-20px);
}   
nav.navbar .nav-link:hover::after, 
nav.navbar .nav-link.active::after, 
nav.navbar .nav-link:hover::before, 
nav.navbar .nav-link.active::before {
    transform: translateX(0px);
    opacity: 1;
}
nav.navbar .nav-link::after {
    bottom: 0;
    right: 0;
    border-bottom: 1px solid var(--main-color);
    border-right: 1px solid var(--main-color);
    transform: translateX(20px);
}
nav.navbar ul:nth-of-type(2) li i {
    transition-duration: .5s;
    font-size: 22px;
    color: #777777;
}
nav.navbar ul:nth-of-type(2) li i:hover {
    color: var(--main-color);
}
#SC-Carousel {
    position: relative;
}
#SC-Carousel>button {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
#SC-Carousel>button.next {
    right: 20px;
}
#SC-Carousel>button.prev {
    left: 20px;
}
#SC-Carousel .sc-Carousel-inner {
    position: relative;
}
#SC-Carousel .sc-Carousel-inner .sc-Carousel-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
#SC-Carousel .sc-Carousel-inner .sc-Carousel-item.active {
    z-index: 2;
}
#SC-Carousel .sc-Carousel-inner .sc-Carousel-item:nth-of-type(1) {
    background-image: url("../images/home-bg-1.jpg");
    background-position: center;
    background-size: cover;
}
#SC-Carousel .sc-Carousel-inner .sc-Carousel-item:nth-of-type(2) {
    background-image: url("../images/home-bg-2.jpg");
    background-position: center;
    background-size: cover;
}
#SC-Carousel .sc-Carousel-inner .sc-Carousel-item:nth-of-type(3) {
    background-image: url("../images/home-bg-3.jpg");
    background-position: center;
    background-size: cover;
}
#SC-Carousel .sc-Carousel-inner .sc-Carousel-item .part1 {
    display: flex;
    align-items: center;
}
#SC-Carousel .sc-Carousel-inner .sc-Carousel-item .part1 .item {
    transform: translateX(-300px);
    opacity: 0;
    transition-duration: 1s;
    transition-delay: 1s;
}
#SC-Carousel .sc-Carousel-inner .sc-Carousel-item.active .part1 .item {
    transform: translate(0px);
    opacity: 1;
}
#SC-Carousel .sc-Carousel-inner .sc-Carousel-item .part1 h2 {
    font-size: 50px;
    font-weight: 600;
}
#SC-Carousel .sc-Carousel-inner .sc-Carousel-item .part1 p {
    width: 80%;
}
#SC-Carousel .sc-Carousel-inner .sc-Carousel-item .part2 .item {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}
#SC-Carousel .sc-Carousel-inner .sc-Carousel-item .part2 img:nth-of-type(1) {
    position: relative;
    width: 85%;
    top: 0;
    left: -10%;
    transform: translate(-30px , -200px);
    transition-duration: 1s;
    transition-delay: .5s;
    opacity: 0;
}
#SC-Carousel .sc-Carousel-inner .sc-Carousel-item.active .part2 img:nth-of-type(1) {
    transform: translate(-30px , -30px);
    opacity: 1;
}
#SC-Carousel .sc-Carousel-inner .sc-Carousel-item .part2 img:nth-of-type(2) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%) rotate(0deg) scale(.5);
    width: 100%;
    opacity: 0;
    transition-duration: 1s;
}
#SC-Carousel .sc-Carousel-inner .sc-Carousel-item.active .part2 img:nth-of-type(2) {
    transform: translate(-50% , -50%) rotate(-35deg) scale(1);
    opacity: 1;

}